extends ../layout

block content
  .row
    .col-xs-12
      
      .box
        .box-header
          h3.box-title 项目列表           
          .box-tools
           a(href='#',data-toggle="modal",data-target="#myModal")
            button.btn.btn-block.btn-warning.btn-sm 添加
        // /.box-header
        .box-body.table-responsive.no-padding
          table.table.table-hover
            tr                 
              th 图标                
              th 运动项目                
              th 状态           
              th 说明
              th 操作    
            if  sets    
              each item in sets  
                tr            
                  td #{item.title}                 
                  td #{item.vals}              
                  td
                    span.label.label-success 激活  
                  td #{item.remark}     
                  td     
                    a(href="/admin/setting/edit/#{item._id}",data-toggle="modal",data-target="#modal_#{item._id}")
                      button.btn.btn-block.btn-success.btn-xs(type='button') 编辑
                .modal.modal.fade(id="modal_#{item._id}",tabindex="-1",role="dialog")
                  .modal-dialog
                    .modal-content
              
        .modal.modal.fade(id="myModal",tabindex="-1",role="dialog")
          .modal-dialog
            .modal-content
              form(id='form',action='/admin/setting/dopicture', method='post',role='form')
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;               
                  h4.modal-title 添加运动项目                 
                .modal-body
                  .box-body
                    .form-group
                      label(for='icon') 运动项目图标                
                      input#icon.form-control(type='text', name="program[icon]",placeholder='设置运动项目图标')   
                    .form-group
                      label(for='title') 设置标题                
                      input#title.form-control(type='text', name="program[title]",placeholder='设置标题')                     
                    .form-group
                      label(for='remark') 相关说明                    
                      input#remark.form-control(type='text', name="set[remark]",placeholder='设置相关说明')              
                .modal-footer
                  button.btn.btn-default.pull-left(type='button', data-dismiss='modal') 关闭        
                  button.btn.btn-primary(type='submit') 提交