extends layout

block content
  link(rel='stylesheet', href='/stylesheets/icon/iconfont.css')
  .row
    .col-md-3
      // Profile Image
      .box.box-primary
        .box-body.box-profile
          img.profile-user-img.img-responsive.img-circle(src='/libs/AdminLTE/dist/img/user4-128x128.jpg', alt='User profile picture')                  
          h3.profile-username.text-center #{field.name}            
        // /.box-body
      // /.box
      .modal.modal.fade(id="myModal",tabindex="-1",role="dialog")
        .modal-dialog.modal-sm
          .modal-content
            form(id='form',action='/field/index/addprogram', method='post',role='form')
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;               
                h4.modal-title 新增场馆项目             
              .modal-body
                .box-body
                  .form-group           
                    label(for='program') 选择项目     
                    select.form-control.select2(name="program",style='width: 100%;')
                      each item in items  
                        option(value="#{item._id}") #{item.title}              
                  .form-group
                    label(for='business_hours_start') 营业开始时间                
                    input#business_hours_start.form-control(type='text', name="setting[business_hours_start]",placeholder='设置营业开始时间')       
                  .form-group
                    label(for='business_hours_end') 营业结束时间                
                    input#business_hours_end.form-control(type='text', name="setting[business_hours_end]",placeholder='设置营业结束时间') 
                  .form-group
                    label(for='duration') 运动时长（场地预定时间间隔）                
                    input#duration.form-control(type='text', name="setting[duration]",placeholder='设置运动时长')                                  
              .modal-footer
                button.btn.btn-default.pull-left(type='button', data-dismiss='modal') 关闭        
                button.btn.btn-primary(type='submit') 提交 
               
      // About Me Box
      .box.box-solid
        .box-header.with-border
          h3.box-title 关于我们     
          .box-tools
            button.btn.btn-box-tool(data-widget='collapse')
              i.fa.fa-minus 
        .box-body
          strong
            i.fa.fa-book.margin-r-5
            |   简介                 
          p.text-muted
            | 新开放羽毛球馆，场地全新。场馆营业时间室外跑道、足球场和篮球场可免费使用。                
          hr             
          strong
            i.fa.fa-map-marker.margin-r-5
            |  定位               
          p.text-muted 嘉定区和静路1388号（近新源路）                    
          hr            
          strong
            i.fa.fa-phone.margin-r-5
            |  电话           
          p
            | 021-67720862
          hr         
          strong
            i.fa.fa-server.margin-r-5
            |  服务            
          p
            span.label.label-danger(style="margin-right:5px;") 免费停车场               
            span.label.label-success(style="margin-right:5px;") VIP休息室              
            span.label.label-info(style="margin-right:5px;") 运行相关产品                 
            span.label.label-warning(style="margin-right:5px;") 柜子租赁         
            span.label.label-primary 活动区  
          hr         
          strong
            i.fa.fa-camera-retro.margin-r-5
            |  相册            
          p
            span.mailbox-attachment-icon.has-img
              #carousel-example-generic.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                  li.active(data-target='#carousel-example-generic', data-slide-to='0')                     
                  li(data-target='#carousel-example-generic', data-slide-to='1')                   
                  li(data-target='#carousel-example-generic', data-slide-to='2')               
                .carousel-inner
                  .item.active
                    img(src='http://placehold.it/900x500/39CCCC/ffffff&text=I+Love+Bootstrap', alt='First slide')                     
                    .carousel-caption
                      | First Slide               
                  .item
                    img(src='http://placehold.it/900x500/3c8dbc/ffffff&text=I+Love+Bootstrap', alt='Second slide')                       
                    .carousel-caption
                      | Second Slide                
                  .item
                    img(src='http://placehold.it/900x500/f39c12/ffffff&text=I+Love+Bootstrap', alt='Third slide')                      
                    .carousel-caption
                      | Third Slide           
                a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
                  span.fa.fa-angle-left       
                a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
                  span.fa.fa-angle-right           
            .mailbox-attachment-info
              a.mailbox-attachment-name(href='#')
                i.fa.fa-camera
                |  photo1.png                      
              span.mailbox-attachment-size
                | 2.67 MB
                a.btn.btn-default.btn-xs.pull-right(href='#')
                  i.fa.fa-cloud-download        

          
        // /.box-body
      // /.box
    // /.col
    .col-md-9
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a(href='#activity', data-toggle='tab') 项目列表       
          li
            a(href='#timeline', data-toggle='tab') 评论列表             
          li
            a(href='#settings', data-toggle='tab') 设置          
        .tab-content
          #activity.active.tab-pane
            .clearfix(style="margin-bottom:10px;")
              a(href='#',data-toggle="modal",data-target="#myModal")
                button.btn.btn-default
                  i.fa.fa-plus
                  |  添加项目
            ul.todo-list
              - for (var x = 0; x < field.program.length; x++)                
                li
                  span.handle
                    i.icon.iconfont !{field.program[x].icon}                                               
                  span.text #{field.program[x].title}             
                  small.label.label-info
                    i.fa.fa-clock-o
                    |  #{field.setting[x].business_hours_start}点 - #{field.setting[x].business_hours_end} 点            
                  .tools
                    i.fa.fa-edit               
                    i.fa.fa-trash-o                
            
          // /.tab-pane
          #timeline.tab-pane
            // The timeline
            ul.timeline.timeline-inverse
              // timeline time label
              li.time-label
                span.bg-red
                  | 10 Feb. 2014
              // /.timeline-label
              // timeline item
              li
                i.fa.fa-envelope.bg-blue                    
                .timeline-item
                  span.time
                    i.fa.fa-clock-o
                    |  12:05                     
                  h3.timeline-header
                    a(href='#') Support Team
                    |  sent you an email                    
                  .timeline-body
                    | Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                    | weebly ning heekya handango imeem plugg dopplr jibjab, movity
                    | jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                    | quora plaxo ideeli hulu weebly balihoo...                  
                  .timeline-footer
                    a.btn.btn-primary.btn-xs Read more                       
                    a.btn.btn-danger.btn-xs Delete
              // END timeline item
              // timeline item
              li
                i.fa.fa-user.bg-aqua                      
                .timeline-item
                  span.time
                    i.fa.fa-clock-o
                    |  5 mins ago                    
                  h3.timeline-header.no-border
                    a(href='#') Sarah Young
                    |  accepted your friend request
              // END timeline item
              // timeline item
              li
                i.fa.fa-comments.bg-yellow              
                .timeline-item
                  span.time
                    i.fa.fa-clock-o
                    |  27 mins ago                    
                  h3.timeline-header
                    a(href='#') Jay White
                    |  commented on your post               
                  .timeline-body
                    | Take me to your leader!
                    | Switzerland is small and neutral!
                    | We are more like Germany, ambitious and misunderstood!                    
                  .timeline-footer
                    a.btn.btn-warning.btn-flat.btn-xs View comment
              // END timeline item
              // timeline time label
              li.time-label
                span.bg-green
                  | 3 Jan. 2014
              // /.timeline-label
              // timeline item
              li
                i.fa.fa-camera.bg-purple                     
                .timeline-item
                  span.time
                    i.fa.fa-clock-o
                    |  2 days ago                     
                  h3.timeline-header
                    a(href='#') Mina Lee
                    |  uploaded new photos                       
                  .timeline-body
                    img.margin(src='http://placehold.it/150x100', alt='...')                      
                    img.margin(src='http://placehold.it/150x100', alt='...')                        
                    img.margin(src='http://placehold.it/150x100', alt='...')                        
                    img.margin(src='http://placehold.it/150x100', alt='...')
              // END timeline item
              li
                i.fa.fa-clock-o.bg-gray
          // /.tab-pane
          #settings.tab-pane
            form.form-horizontal
              .form-group
                label.col-sm-2.control-label(for='inputName') Name               
                .col-sm-10
                  input#inputName.form-control(type='email', placeholder='Name')                    
              .form-group
                label.col-sm-2.control-label(for='inputEmail') Email                 
                .col-sm-10
                  input#inputEmail.form-control(type='email', placeholder='Email')                 
              .form-group
                label.col-sm-2.control-label(for='inputName') Name                    
                .col-sm-10
                  input#inputName.form-control(type='text', placeholder='Name')                 
              .form-group
                label.col-sm-2.control-label(for='inputExperience') Experience            
                .col-sm-10
                  textarea#inputExperience.form-control(placeholder='Experience')              
              .form-group
                label.col-sm-2.control-label(for='inputSkills') Skills                    
                .col-sm-10
                  input#inputSkills.form-control(type='text', placeholder='Skills')               
              .form-group
                .col-sm-offset-2.col-sm-10
                  .checkbox
                    label
                      input(type='checkbox')
                      |  I agree to the 
                      a(href='#') terms and conditions      
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-danger(type='submit') Submit