extends ../layout

block content
  .row
    .col-xs-12
      .callout.callout-info
        h4 全局设置           
        p 系统全局设置，可以编辑修改，但最好不要删除  
          a(href='#',data-toggle="modal",data-target="#myModal") 新增设置
      .box
        .box-header
          h3.box-title 全局设置             
          .box-tools
            .input-group(style='width: 150px;')
              input.form-control.input-sm.pull-right(type='text', name='table_search', placeholder='搜索')          
              .input-group-btn
                button.btn.btn-sm.btn-default
                  i.fa.fa-search
        // /.box-header
        .box-body
          table.table.table-hover.table-bordered
            tr                 
              th 标题                  
              th 设置值                   
              th 状态           
              th 说明
              th 操作         
            each item in sets  
              tr            
                td #{item.title}                 
                td #{item.vals}              
                td
                  span.label.label-success 激活  
                td #{item.remark}     
                td     
                  a(href="/admin/setting/edit/#{item._id}",data-toggle="modal",data-target="#modal_#{item._id}")
                    button.btn.btn-success(type='button') 编辑
              .modal.modal.fade(id="modal_#{item._id}",tabindex="-1",role="dialog")
                .modal-dialog.modal-sm
                  .modal-content

        .modal.modal.fade(id="myModal",tabindex="-1",role="dialog")
          .modal-dialog.modal-sm
            .modal-content
              form(id='form',action='/admin/setting/dopicture', method='post',role='form')
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;               
                  h4.modal-title 新增全局设置                 
                .modal-body
                  .box-body
                    .form-group
                      label(for='tag') 设置标识                
                      input#tag.form-control(type='text', name="set[tag]",placeholder='设置标识')   
                    .form-group
                      label(for='title') 设置标题                
                      input#title.form-control(type='text', name="set[title]",placeholder='设置标题')                  
                    .form-group
                      label(for='vals') 设置值                    
                      input#vals.form-control(type='text', name="set[vals]",placeholder='设置值')       
                    .form-group
                      label(for='remark') 相关说明                    
                      input#remark.form-control(type='text', name="set[remark]",placeholder='设置相关说明')              
                .modal-footer
                  button.btn.btn-default.pull-left(type='button', data-dismiss='modal') 关闭        
                  button.btn.btn-primary(type='submit') 提交