extends ../layout

block content
  .row
    .col-xs-12
      .callout.callout-info
        h4 用户管理           
        p 用户操作相关管理 
          a(href='#',data-toggle="modal",data-target="#myModal") 新增用户
      .box
        .box-header
          h3.box-title 用户列表         
          .box-tools
            .input-group(style='width: 150px;')
              input.form-control.input-sm.pull-right(type='text', name='table_search', placeholder='搜索')          
              .input-group-btn
                button.btn.btn-sm.btn-default
                  i.fa.fa-search
        // /.box-header
        .box-body
          table.table.table-hover.table-bordered
            tr         
              th 手机号码                  
              th 邮箱                    
              th 状态    
              th 权限              
              th 注册时间
              th 最后登录时间
              th 操作         
            each item in users  
              tr    
                td #{item.mobile}          
                td #{item.email}                        
                td
                  case item.status
                    when 0
                      span.label.label-danger 禁用 
                    when 1
                      span.label.label-success 启用 
                td
                  case item.role
                    when 0
                      span.label.label-danger 未验证用户 
                    when 1
                      span.label.label-success 普通用户 
                    when 100
                      span.label.label-info 高级后台管理员
                td #{moment(item.meta.createAt).format('YYYY-MM-DD HH:mm')}   
                td #{moment(item.lastLoginAt).format('YYYY-MM-DD HH:mm')}    
                td     
                  a(href="/admin/users/edit/#{item._id}",data-toggle="modal",data-target="#modal_#{item._id}")
                    button.btn.btn-success(type='button') 编辑
                  if item.role < 100
                    case item.status
                      when 0
                        button.btn.btn-warning.confirm(type='button',data="#{item._id}",status="1",url="/admin/users/oc",swal-title="确定启用?",swal-text="您真的决定启用该用户，请点击确定!") 启用
                      when 1
                        button.btn.btn-danger.confirm(type='button',data="#{item._id}",status="0",url="/admin/users/oc",swal-title="确定禁用?",swal-text="您真的决定禁用该用户，请点击确定!") 禁用
              .modal.modal.fade(id="modal_#{item._id}",tabindex="-1",role="dialog")
                .modal-dialog.modal-sm
                  .modal-content
        .box-footer.clearfix
          ul.pagination.pagination-sm.no-margin.pull-right
            li
              a(href='#') &laquo;             
            li.active
              a(href='#') 1           
            li
              a(href='#') 2                  
            li
              a(href='#') 3            
            li
              a(href='#') &raquo;
              
        .modal.modal.fade(id="myModal",tabindex="-1",role="dialog")
          .modal-dialog.modal-sm
            .modal-content
              form(id='form',action='/admin/users/doadd', method='post',role='form')
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;               
                  h4.modal-title 新增普通用户              
                .modal-body
                  .box-body
                    .form-group
                      label(for='email') 邮箱地址                
                      input#email.form-control(type='text', name="user[email]",placeholder='邮箱地址')                  
                    .form-group
                      label(for='mobile') 手机号码                    
                      input#mobile.form-control(type='text', name="user[mobile]",placeholder='手机号码')       
                    .form-group
                      label(for='password') 登录密码                    
                      input#password.form-control(type='text', name="user[password]",placeholder='登录密码')              
                .modal-footer
                  button.btn.btn-default.pull-left(type='button', data-dismiss='modal') 关闭        
                  button.btn.btn-primary(type='submit') 提交